<section class="m-0 p-4 h-screen" id="checkout">
  <div class="container h-full">
    <div class="flex items-center justify-center w-full h-full">
      <div class="p-10 w-full max-w-xl text-center bg-white dark:bg-slate-900">
        <h1 class="mb-6 text-9xl font-black font-mono">404</h1>
        <h2 class="mb-3 text-2xl font-semibold">Page Not Found</h2>
        <p class="mb-6 text-lg font-medium">Sorry, the page you are looking for could not be found.</p>
        <a href="/" class="button w-fit mx-auto">Return to Home</a>
      </div>
    </div>
  </div>
</section>
