<section class="hero">
  <div class="container">
    <div class="text">
      <h2>Track Your Instagram Followers</h2>
      <a href="#" class="button">
        <img src="/img/chrome.svg" alt="Chrome Icon" />
        <span> Add To Chrome </span>
      </a>
    </div>
    <div class="image">
      <img src="/img/hero.png" alt="Hero" />
    </div>
  </div>
</section>
