<!-- ====== Header Start ====== -->
<header
  class="absolute top-0 left-0 z-40 sm:flex items-center justify-center w-full px-4 py-6 text-white bg-blue-600 transition duration-300 select-none group">
  <div class="container">
    <div class="flex items-center justify-between w-full relative">
      <a href="" class="flex items-center gap-1">
        <img
          src="/img/icon.png"
          alt="Logo"
          draggable="false"
          class="w-8 group-[.is-sticky]:invert group-[.is-sticky]:dark:invert-0 transition duration-300" />
        <span class="text-2xl font-semibold">IG Tracker</span>
      </a>

      <div class="flex items-center">
        <div id="navbar-collapse" class="flex items-center gap-8 font-medium">
          <a href="#pricing" class="nav-link">Pricing</a>
          <a href="#testimonial" class="nav-link">Testimonial</a>
          <a href="#faq" class="nav-link">FAQ</a>
          <div
            class="w-px h-10 mr-6 bg-white/50 group-[.is-sticky]:bg-black/50 group-[.is-sticky]:dark:bg-white/50 transition duration-300 hidden md:block"></div>
        </div>
        <div class="flex items-center gap-4 md:flex-row-reverse">
          <a href="https://chromewebstore.google.com/" class="button hidden sm:flex">Get Now</a>
          <button id="navbar-toggler" class="md:hidden"><i class="bi-list flex text-3xl"></i></button>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ====== Header End ====== -->

<!-- ====== Hero Start ====== -->
<section class="pt-[120px] md:pt-[130px] lg:pt-[160px] min-h-[100vh] text-white bg-blue-600" id="hero">
  <div class="container">
    <div class="flex flex-col items-center">
      <div class="w-full px-4">
        <div class="mx-auto max-w-[780px] text-center wow fadeInUp" data-wow-duration="2000ms">
          <h1
            class="mb-6 text-3xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]">
            Track Followers & Followings in Your Instagram Account
          </h1>
          <p class="mx-auto mb-9 max-w-[600px] text-base font-medium text-white sm:text-lg sm:leading-[1.44]">
            Track Ghost Followers in Your Instagram Account Easily & Unfollow Them. Find Out Who Unfollowed You in One
            Click
          </p>
          <div class="mb-10 flex flex-wrap items-center justify-center gap-4">
            <a href="https://chromewebstore.google.com/" class="button">
              <i class="bi-browser-chrome text-xl"></i>Add to Chrome
            </a>
            <a href="#pricing" class="button nav-link">See Pricing</a>
          </div>
        </div>
      </div>

      <div class="w-full px-4">
        <div class="relative z-10 mx-auto max-w-[845px]">
          <div class="mt-16 mx-auto max-w-full rounded-t-md overflow-hidden select-none">
            <img src="/img/hero-light.png" alt="Hero Light" draggable="false" class="w-full dark:hidden" />
            <img src="/img/hero-light.png" alt="Hero Dark" draggable="false" class="w-full hidden dark:block" />
          </div>
          <div class="absolute -left-9 bottom-0 z-[-1]">
            <svg width="134" height="106" viewBox="0 0 134 106" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.66667" cy="104" r="1.66667" transform="rotate(-90 1.66667 104)" fill="white" />
              <circle cx="16.3333" cy="104" r="1.66667" transform="rotate(-90 16.3333 104)" fill="white" />
              <circle cx="31" cy="104" r="1.66667" transform="rotate(-90 31 104)" fill="white" />
              <circle cx="45.6667" cy="104" r="1.66667" transform="rotate(-90 45.6667 104)" fill="white" />
              <circle cx="60.3333" cy="104" r="1.66667" transform="rotate(-90 60.3333 104)" fill="white" />
              <circle cx="88.6667" cy="104" r="1.66667" transform="rotate(-90 88.6667 104)" fill="white" />
              <circle cx="117.667" cy="104" r="1.66667" transform="rotate(-90 117.667 104)" fill="white" />
              <circle cx="74.6667" cy="104" r="1.66667" transform="rotate(-90 74.6667 104)" fill="white" />
              <circle cx="103" cy="104" r="1.66667" transform="rotate(-90 103 104)" fill="white" />
              <circle cx="132" cy="104" r="1.66667" transform="rotate(-90 132 104)" fill="white" />
              <circle cx="1.66667" cy="89.3333" r="1.66667" transform="rotate(-90 1.66667 89.3333)" fill="white" />
              <circle cx="16.3333" cy="89.3333" r="1.66667" transform="rotate(-90 16.3333 89.3333)" fill="white" />
              <circle cx="31" cy="89.3333" r="1.66667" transform="rotate(-90 31 89.3333)" fill="white" />
              <circle cx="45.6667" cy="89.3333" r="1.66667" transform="rotate(-90 45.6667 89.3333)" fill="white" />
              <circle cx="60.3333" cy="89.3338" r="1.66667" transform="rotate(-90 60.3333 89.3338)" fill="white" />
              <circle cx="88.6667" cy="89.3338" r="1.66667" transform="rotate(-90 88.6667 89.3338)" fill="white" />
              <circle cx="117.667" cy="89.3338" r="1.66667" transform="rotate(-90 117.667 89.3338)" fill="white" />
              <circle cx="74.6667" cy="89.3338" r="1.66667" transform="rotate(-90 74.6667 89.3338)" fill="white" />
              <circle cx="103" cy="89.3338" r="1.66667" transform="rotate(-90 103 89.3338)" fill="white" />
              <circle cx="132" cy="89.3338" r="1.66667" transform="rotate(-90 132 89.3338)" fill="white" />
              <circle cx="1.66667" cy="74.6673" r="1.66667" transform="rotate(-90 1.66667 74.6673)" fill="white" />
              <circle cx="1.66667" cy="31.0003" r="1.66667" transform="rotate(-90 1.66667 31.0003)" fill="white" />
              <circle cx="16.3333" cy="74.6668" r="1.66667" transform="rotate(-90 16.3333 74.6668)" fill="white" />
              <circle cx="16.3333" cy="31.0003" r="1.66667" transform="rotate(-90 16.3333 31.0003)" fill="white" />
              <circle cx="31" cy="74.6668" r="1.66667" transform="rotate(-90 31 74.6668)" fill="white" />
              <circle cx="31" cy="31.0003" r="1.66667" transform="rotate(-90 31 31.0003)" fill="white" />
              <circle cx="45.6667" cy="74.6668" r="1.66667" transform="rotate(-90 45.6667 74.6668)" fill="white" />
              <circle cx="45.6667" cy="31.0003" r="1.66667" transform="rotate(-90 45.6667 31.0003)" fill="white" />
              <circle cx="60.3333" cy="74.6668" r="1.66667" transform="rotate(-90 60.3333 74.6668)" fill="white" />
              <circle cx="60.3333" cy="31.0001" r="1.66667" transform="rotate(-90 60.3333 31.0001)" fill="white" />
              <circle cx="88.6667" cy="74.6668" r="1.66667" transform="rotate(-90 88.6667 74.6668)" fill="white" />
              <circle cx="88.6667" cy="31.0001" r="1.66667" transform="rotate(-90 88.6667 31.0001)" fill="white" />
              <circle cx="117.667" cy="74.6668" r="1.66667" transform="rotate(-90 117.667 74.6668)" fill="white" />
              <circle cx="117.667" cy="31.0001" r="1.66667" transform="rotate(-90 117.667 31.0001)" fill="white" />
              <circle cx="74.6667" cy="74.6668" r="1.66667" transform="rotate(-90 74.6667 74.6668)" fill="white" />
              <circle cx="74.6667" cy="31.0001" r="1.66667" transform="rotate(-90 74.6667 31.0001)" fill="white" />
              <circle cx="103" cy="74.6668" r="1.66667" transform="rotate(-90 103 74.6668)" fill="white" />
              <circle cx="103" cy="31.0001" r="1.66667" transform="rotate(-90 103 31.0001)" fill="white" />
              <circle cx="132" cy="74.6668" r="1.66667" transform="rotate(-90 132 74.6668)" fill="white" />
              <circle cx="132" cy="31.0001" r="1.66667" transform="rotate(-90 132 31.0001)" fill="white" />
              <circle cx="1.66667" cy="60.0003" r="1.66667" transform="rotate(-90 1.66667 60.0003)" fill="white" />
              <circle cx="1.66667" cy="16.3336" r="1.66667" transform="rotate(-90 1.66667 16.3336)" fill="white" />
              <circle cx="16.3333" cy="60.0003" r="1.66667" transform="rotate(-90 16.3333 60.0003)" fill="white" />
              <circle cx="16.3333" cy="16.3336" r="1.66667" transform="rotate(-90 16.3333 16.3336)" fill="white" />
              <circle cx="31" cy="60.0003" r="1.66667" transform="rotate(-90 31 60.0003)" fill="white" />
              <circle cx="31" cy="16.3336" r="1.66667" transform="rotate(-90 31 16.3336)" fill="white" />
              <circle cx="45.6667" cy="60.0003" r="1.66667" transform="rotate(-90 45.6667 60.0003)" fill="white" />
              <circle cx="45.6667" cy="16.3336" r="1.66667" transform="rotate(-90 45.6667 16.3336)" fill="white" />
              <circle cx="60.3333" cy="60.0003" r="1.66667" transform="rotate(-90 60.3333 60.0003)" fill="white" />
              <circle cx="60.3333" cy="16.3336" r="1.66667" transform="rotate(-90 60.3333 16.3336)" fill="white" />
              <circle cx="88.6667" cy="60.0003" r="1.66667" transform="rotate(-90 88.6667 60.0003)" fill="white" />
              <circle cx="88.6667" cy="16.3336" r="1.66667" transform="rotate(-90 88.6667 16.3336)" fill="white" />
              <circle cx="117.667" cy="60.0003" r="1.66667" transform="rotate(-90 117.667 60.0003)" fill="white" />
              <circle cx="117.667" cy="16.3336" r="1.66667" transform="rotate(-90 117.667 16.3336)" fill="white" />
              <circle cx="74.6667" cy="60.0003" r="1.66667" transform="rotate(-90 74.6667 60.0003)" fill="white" />
              <circle cx="74.6667" cy="16.3336" r="1.66667" transform="rotate(-90 74.6667 16.3336)" fill="white" />
              <circle cx="103" cy="60.0003" r="1.66667" transform="rotate(-90 103 60.0003)" fill="white" />
              <circle cx="103" cy="16.3336" r="1.66667" transform="rotate(-90 103 16.3336)" fill="white" />
              <circle cx="132" cy="60.0003" r="1.66667" transform="rotate(-90 132 60.0003)" fill="white" />
              <circle cx="132" cy="16.3336" r="1.66667" transform="rotate(-90 132 16.3336)" fill="white" />
              <circle cx="1.66667" cy="45.3336" r="1.66667" transform="rotate(-90 1.66667 45.3336)" fill="white" />
              <circle cx="1.66667" cy="1.66683" r="1.66667" transform="rotate(-90 1.66667 1.66683)" fill="white" />
              <circle cx="16.3333" cy="45.3336" r="1.66667" transform="rotate(-90 16.3333 45.3336)" fill="white" />
              <circle cx="16.3333" cy="1.66683" r="1.66667" transform="rotate(-90 16.3333 1.66683)" fill="white" />
              <circle cx="31" cy="45.3336" r="1.66667" transform="rotate(-90 31 45.3336)" fill="white" />
              <circle cx="31" cy="1.66683" r="1.66667" transform="rotate(-90 31 1.66683)" fill="white" />
              <circle cx="45.6667" cy="45.3336" r="1.66667" transform="rotate(-90 45.6667 45.3336)" fill="white" />
              <circle cx="45.6667" cy="1.66683" r="1.66667" transform="rotate(-90 45.6667 1.66683)" fill="white" />
              <circle cx="60.3333" cy="45.3338" r="1.66667" transform="rotate(-90 60.3333 45.3338)" fill="white" />
              <circle cx="60.3333" cy="1.66707" r="1.66667" transform="rotate(-90 60.3333 1.66707)" fill="white" />
              <circle cx="88.6667" cy="45.3338" r="1.66667" transform="rotate(-90 88.6667 45.3338)" fill="white" />
              <circle cx="88.6667" cy="1.66707" r="1.66667" transform="rotate(-90 88.6667 1.66707)" fill="white" />
              <circle cx="117.667" cy="45.3338" r="1.66667" transform="rotate(-90 117.667 45.3338)" fill="white" />
              <circle cx="117.667" cy="1.66707" r="1.66667" transform="rotate(-90 117.667 1.66707)" fill="white" />
              <circle cx="74.6667" cy="45.3338" r="1.66667" transform="rotate(-90 74.6667 45.3338)" fill="white" />
              <circle cx="74.6667" cy="1.66707" r="1.66667" transform="rotate(-90 74.6667 1.66707)" fill="white" />
              <circle cx="103" cy="45.3338" r="1.66667" transform="rotate(-90 103 45.3338)" fill="white" />
              <circle cx="103" cy="1.66707" r="1.66667" transform="rotate(-90 103 1.66707)" fill="white" />
              <circle cx="132" cy="45.3338" r="1.66667" transform="rotate(-90 132 45.3338)" fill="white" />
              <circle cx="132" cy="1.66707" r="1.66667" transform="rotate(-90 132 1.66707)" fill="white" />
            </svg>
          </div>
          <div class="absolute -right-6 -top-6 z-[-1]">
            <svg width="134" height="106" viewBox="0 0 134 106" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.66667" cy="104" r="1.66667" transform="rotate(-90 1.66667 104)" fill="white" />
              <circle cx="16.3333" cy="104" r="1.66667" transform="rotate(-90 16.3333 104)" fill="white" />
              <circle cx="31" cy="104" r="1.66667" transform="rotate(-90 31 104)" fill="white" />
              <circle cx="45.6667" cy="104" r="1.66667" transform="rotate(-90 45.6667 104)" fill="white" />
              <circle cx="60.3333" cy="104" r="1.66667" transform="rotate(-90 60.3333 104)" fill="white" />
              <circle cx="88.6667" cy="104" r="1.66667" transform="rotate(-90 88.6667 104)" fill="white" />
              <circle cx="117.667" cy="104" r="1.66667" transform="rotate(-90 117.667 104)" fill="white" />
              <circle cx="74.6667" cy="104" r="1.66667" transform="rotate(-90 74.6667 104)" fill="white" />
              <circle cx="103" cy="104" r="1.66667" transform="rotate(-90 103 104)" fill="white" />
              <circle cx="132" cy="104" r="1.66667" transform="rotate(-90 132 104)" fill="white" />
              <circle cx="1.66667" cy="89.3333" r="1.66667" transform="rotate(-90 1.66667 89.3333)" fill="white" />
              <circle cx="16.3333" cy="89.3333" r="1.66667" transform="rotate(-90 16.3333 89.3333)" fill="white" />
              <circle cx="31" cy="89.3333" r="1.66667" transform="rotate(-90 31 89.3333)" fill="white" />
              <circle cx="45.6667" cy="89.3333" r="1.66667" transform="rotate(-90 45.6667 89.3333)" fill="white" />
              <circle cx="60.3333" cy="89.3338" r="1.66667" transform="rotate(-90 60.3333 89.3338)" fill="white" />
              <circle cx="88.6667" cy="89.3338" r="1.66667" transform="rotate(-90 88.6667 89.3338)" fill="white" />
              <circle cx="117.667" cy="89.3338" r="1.66667" transform="rotate(-90 117.667 89.3338)" fill="white" />
              <circle cx="74.6667" cy="89.3338" r="1.66667" transform="rotate(-90 74.6667 89.3338)" fill="white" />
              <circle cx="103" cy="89.3338" r="1.66667" transform="rotate(-90 103 89.3338)" fill="white" />
              <circle cx="132" cy="89.3338" r="1.66667" transform="rotate(-90 132 89.3338)" fill="white" />
              <circle cx="1.66667" cy="74.6673" r="1.66667" transform="rotate(-90 1.66667 74.6673)" fill="white" />
              <circle cx="1.66667" cy="31.0003" r="1.66667" transform="rotate(-90 1.66667 31.0003)" fill="white" />
              <circle cx="16.3333" cy="74.6668" r="1.66667" transform="rotate(-90 16.3333 74.6668)" fill="white" />
              <circle cx="16.3333" cy="31.0003" r="1.66667" transform="rotate(-90 16.3333 31.0003)" fill="white" />
              <circle cx="31" cy="74.6668" r="1.66667" transform="rotate(-90 31 74.6668)" fill="white" />
              <circle cx="31" cy="31.0003" r="1.66667" transform="rotate(-90 31 31.0003)" fill="white" />
              <circle cx="45.6667" cy="74.6668" r="1.66667" transform="rotate(-90 45.6667 74.6668)" fill="white" />
              <circle cx="45.6667" cy="31.0003" r="1.66667" transform="rotate(-90 45.6667 31.0003)" fill="white" />
              <circle cx="60.3333" cy="74.6668" r="1.66667" transform="rotate(-90 60.3333 74.6668)" fill="white" />
              <circle cx="60.3333" cy="31.0001" r="1.66667" transform="rotate(-90 60.3333 31.0001)" fill="white" />
              <circle cx="88.6667" cy="74.6668" r="1.66667" transform="rotate(-90 88.6667 74.6668)" fill="white" />
              <circle cx="88.6667" cy="31.0001" r="1.66667" transform="rotate(-90 88.6667 31.0001)" fill="white" />
              <circle cx="117.667" cy="74.6668" r="1.66667" transform="rotate(-90 117.667 74.6668)" fill="white" />
              <circle cx="117.667" cy="31.0001" r="1.66667" transform="rotate(-90 117.667 31.0001)" fill="white" />
              <circle cx="74.6667" cy="74.6668" r="1.66667" transform="rotate(-90 74.6667 74.6668)" fill="white" />
              <circle cx="74.6667" cy="31.0001" r="1.66667" transform="rotate(-90 74.6667 31.0001)" fill="white" />
              <circle cx="103" cy="74.6668" r="1.66667" transform="rotate(-90 103 74.6668)" fill="white" />
              <circle cx="103" cy="31.0001" r="1.66667" transform="rotate(-90 103 31.0001)" fill="white" />
              <circle cx="132" cy="74.6668" r="1.66667" transform="rotate(-90 132 74.6668)" fill="white" />
              <circle cx="132" cy="31.0001" r="1.66667" transform="rotate(-90 132 31.0001)" fill="white" />
              <circle cx="1.66667" cy="60.0003" r="1.66667" transform="rotate(-90 1.66667 60.0003)" fill="white" />
              <circle cx="1.66667" cy="16.3336" r="1.66667" transform="rotate(-90 1.66667 16.3336)" fill="white" />
              <circle cx="16.3333" cy="60.0003" r="1.66667" transform="rotate(-90 16.3333 60.0003)" fill="white" />
              <circle cx="16.3333" cy="16.3336" r="1.66667" transform="rotate(-90 16.3333 16.3336)" fill="white" />
              <circle cx="31" cy="60.0003" r="1.66667" transform="rotate(-90 31 60.0003)" fill="white" />
              <circle cx="31" cy="16.3336" r="1.66667" transform="rotate(-90 31 16.3336)" fill="white" />
              <circle cx="45.6667" cy="60.0003" r="1.66667" transform="rotate(-90 45.6667 60.0003)" fill="white" />
              <circle cx="45.6667" cy="16.3336" r="1.66667" transform="rotate(-90 45.6667 16.3336)" fill="white" />
              <circle cx="60.3333" cy="60.0003" r="1.66667" transform="rotate(-90 60.3333 60.0003)" fill="white" />
              <circle cx="60.3333" cy="16.3336" r="1.66667" transform="rotate(-90 60.3333 16.3336)" fill="white" />
              <circle cx="88.6667" cy="60.0003" r="1.66667" transform="rotate(-90 88.6667 60.0003)" fill="white" />
              <circle cx="88.6667" cy="16.3336" r="1.66667" transform="rotate(-90 88.6667 16.3336)" fill="white" />
              <circle cx="117.667" cy="60.0003" r="1.66667" transform="rotate(-90 117.667 60.0003)" fill="white" />
              <circle cx="117.667" cy="16.3336" r="1.66667" transform="rotate(-90 117.667 16.3336)" fill="white" />
              <circle cx="74.6667" cy="60.0003" r="1.66667" transform="rotate(-90 74.6667 60.0003)" fill="white" />
              <circle cx="74.6667" cy="16.3336" r="1.66667" transform="rotate(-90 74.6667 16.3336)" fill="white" />
              <circle cx="103" cy="60.0003" r="1.66667" transform="rotate(-90 103 60.0003)" fill="white" />
              <circle cx="103" cy="16.3336" r="1.66667" transform="rotate(-90 103 16.3336)" fill="white" />
              <circle cx="132" cy="60.0003" r="1.66667" transform="rotate(-90 132 60.0003)" fill="white" />
              <circle cx="132" cy="16.3336" r="1.66667" transform="rotate(-90 132 16.3336)" fill="white" />
              <circle cx="1.66667" cy="45.3336" r="1.66667" transform="rotate(-90 1.66667 45.3336)" fill="white" />
              <circle cx="1.66667" cy="1.66683" r="1.66667" transform="rotate(-90 1.66667 1.66683)" fill="white" />
              <circle cx="16.3333" cy="45.3336" r="1.66667" transform="rotate(-90 16.3333 45.3336)" fill="white" />
              <circle cx="16.3333" cy="1.66683" r="1.66667" transform="rotate(-90 16.3333 1.66683)" fill="white" />
              <circle cx="31" cy="45.3336" r="1.66667" transform="rotate(-90 31 45.3336)" fill="white" />
              <circle cx="31" cy="1.66683" r="1.66667" transform="rotate(-90 31 1.66683)" fill="white" />
              <circle cx="45.6667" cy="45.3336" r="1.66667" transform="rotate(-90 45.6667 45.3336)" fill="white" />
              <circle cx="45.6667" cy="1.66683" r="1.66667" transform="rotate(-90 45.6667 1.66683)" fill="white" />
              <circle cx="60.3333" cy="45.3338" r="1.66667" transform="rotate(-90 60.3333 45.3338)" fill="white" />
              <circle cx="60.3333" cy="1.66707" r="1.66667" transform="rotate(-90 60.3333 1.66707)" fill="white" />
              <circle cx="88.6667" cy="45.3338" r="1.66667" transform="rotate(-90 88.6667 45.3338)" fill="white" />
              <circle cx="88.6667" cy="1.66707" r="1.66667" transform="rotate(-90 88.6667 1.66707)" fill="white" />
              <circle cx="117.667" cy="45.3338" r="1.66667" transform="rotate(-90 117.667 45.3338)" fill="white" />
              <circle cx="117.667" cy="1.66707" r="1.66667" transform="rotate(-90 117.667 1.66707)" fill="white" />
              <circle cx="74.6667" cy="45.3338" r="1.66667" transform="rotate(-90 74.6667 45.3338)" fill="white" />
              <circle cx="74.6667" cy="1.66707" r="1.66667" transform="rotate(-90 74.6667 1.66707)" fill="white" />
              <circle cx="103" cy="45.3338" r="1.66667" transform="rotate(-90 103 45.3338)" fill="white" />
              <circle cx="103" cy="1.66707" r="1.66667" transform="rotate(-90 103 1.66707)" fill="white" />
              <circle cx="132" cy="45.3338" r="1.66667" transform="rotate(-90 132 45.3338)" fill="white" />
              <circle cx="132" cy="1.66707" r="1.66667" transform="rotate(-90 132 1.66707)" fill="white" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Hero End ====== -->

<!-- ====== Pricing Start ====== -->
<section id="pricing">
  <div class="container">
    <div class="text-center">
      <h1 class="text-3xl font-bold sm:text-4xl md:text-[40px] md:leading-[1.2]">Pricing Plans</h1>
      <p class="mt-2 text-gray-600 dark:text-gray-400">
        Find Your Perfect Fit: Choose the Plan that Matches Your Needs, Anytime
      </p>
    </div>
    <div class="mt-12 text-center grid items-center grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-4">
      <div class="px-5 py-4 dark:bg-slate-800/40 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0">
        <h3 class="mb-2 text-lg font-medium text-blue-600">Basic</h3>
        <h2 class="mb-1 text-4xl font-semibold xl:text-[46px]">Free</h2>
        <h5 class="mb-4 text-base text-gray-600 dark:text-gray-400 font-normal">Forever</h5>
        <div class="mt-4">
          <ul class="pricing-list text-start flex flex-col gap-2">
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>500 followers / followings limit</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Not Following Me Back</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>I'm Not Following Back</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Mutual Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Lost Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>New Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Followings</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Basic Support</li>
          </ul>
        </div>
        <a href="https://chromewebstore.google.com/" class="button mt-6 px-6 py-3 flex justify-center"> Choose Plan </a>
      </div>

      <div class="px-5 py-4 dark:bg-slate-800/40 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="250ms">
        <h3 class="mb-2 text-lg font-medium text-blue-600">Standard</h3>
        <h2 class="mb-1 text-4xl font-semibold xl:text-[46px]">$4.99</h2>
        <h5 class="mb-4 text-base text-gray-600 dark:text-gray-400 font-normal">Per Month</h5>
        <div class="mt-4">
          <ul class="pricing-list text-start flex flex-col gap-2">
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>unlimited followers / followings</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Not Following Me Back</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>I'm Not Following Back</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Mutual Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Lost Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>New Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Followings</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Premium Support</li>
          </ul>
        </div>
        <a href="/checkout/plan1" class="button mt-6 px-6 py-3 flex justify-center">Choose Plan</a>
      </div>

      <div class="px-5 py-4 dark:bg-slate-800/40 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
        <h3 class="mb-2 text-lg font-medium text-blue-600">Premium</h3>
        <h2 class="mb-1 text-4xl font-semibold xl:text-[46px]">$9.99</h2>
        <h5 class="mb-4 text-base text-gray-600 dark:text-gray-400 font-normal">Per 3 Month</h5>
        <div class="mt-4">
          <ul class="pricing-list text-start flex flex-col gap-2">
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>unlimited followers / followings</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Not Following Me Back</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>I'm Not Following Back</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Mutual Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Lost Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>New Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Followings</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Premium Support</li>
          </ul>
        </div>
        <a href="/checkout/plan2" class="button mt-6 px-6 py-3 flex justify-center">Choose Plan</a>
      </div>

      <div class="px-5 py-4 dark:bg-slate-800/40 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
        <h3 class="mb-2 text-lg font-medium text-blue-600">Pro</h3>
        <h2 class="mb-1 text-4xl font-semibold xl:text-[46px]">$19.99</h2>
        <h5 class="mb-4 text-base text-gray-600 dark:text-gray-400 font-normal">Per Year</h5>
        <div class="mt-4">
          <ul class="pricing-list text-start flex flex-col gap-2">
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>unlimited followers / followings</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Not Following Me Back</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>I'm Not Following Back</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Mutual Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Lost Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>New Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Followers</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Followings</li>
            <li class="flex gap-2"><i class="bi-check-lg text-blue-600"></i>Premium Support</li>
          </ul>
        </div>
        <a href="/checkout/plan3" class="button mt-6 px-6 py-3 flex justify-center">Choose Plan</a>
      </div>
    </div>
  </div>
</section>
<!-- ====== Pricing End ====== -->

<!-- ====== Testimonial Start ====== -->
<section id="testimonial">
  <div class="container">
    <div class="text-center">
      <h1 class="text-3xl font-bold sm:text-4xl md:text-[40px] md:leading-[1.2]">What Our Clients Say</h1>
      <p class="mt-2 text-gray-600 dark:text-gray-400">Client Stories: Hear What They Have to Say About Us</p>
    </div>
    <div class="mt-12 grid grid-cols-1 gap-6 md:grid-cols-3">
      <div
        class="flex flex-col justify-between flex-1 p-6 rounded dark:bg-slate-800/40 wow fadeInUp"
        data-wow-duration="1000ms"
        data-wow-delay="0">
        <div>
          <div class="flex items-center gap-2 mb-4">
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
          </div>
          <p class="mb-6 text-base leading-loose">
            "IG Tracker is a game-changer! It's like having a personal assistant for my Instagram. With its easy-to-use
            features, I can swiftly identify and remove ghost followers, giving me more time to engage with my genuine
            audience and cultivate meaningful connections."
          </p>
        </div>
        <div class="flex items-center gap-4">
          <div class="w-[50px] h-[50px] overflow-hidden rounded-full">
            <img src="/img/testimonials/1.png" alt="author" draggable="false" class="w-full h-full" />
          </div>
          <div>
            <h3 class="text-base font-semibold">Sarah Smith</h3>
            <p class="text-sm mt-px">Digital Marketer</p>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col justify-between flex-1 p-6 rounded dark:bg-slate-800/40 wow fadeInUp"
        data-wow-duration="1000ms"
        data-wow-delay="300ms">
        <div>
          <div class="flex items-center gap-2 mb-4">
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
          </div>
          <p class="mb-6 text-base leading-loose">
            "IG Tracker is my secret weapon on Instagram! Its user-friendly interface makes it a breeze to manage my
            followers. With just a few clicks, I can identify and remove ghost followers, keeping my audience authentic
            and my content impactful. Thanks to IG Tracker, I can focus on what I do best – creating content that
            connects."
          </p>
        </div>
        <div class="flex items-center gap-4">
          <div class="w-[50px] h-[50px] overflow-hidden rounded-full">
            <img src="/img/testimonials/2.png" alt="author" draggable="false" class="w-full h-full" />
          </div>
          <div>
            <h3 class="text-base font-semibold">Alex Johnson</h3>
            <p class="text-sm mt-px">Social Media Influencer</p>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col justify-between flex-1 p-6 rounded dark:bg-slate-800/40 wow fadeInUp"
        data-wow-duration="1000ms"
        data-wow-delay="600ms">
        <div>
          <div class="flex items-center gap-2 mb-4">
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
            <i class="bi-star-fill text-yellow-600"></i>
          </div>
          <p class="mb-6 text-base leading-loose">
            "IG Tracker is fantastic! It's simplified my Instagram game, making follower management a breeze. Now, I can
            easily spot and remove ghost followers, freeing up time to focus on creating awesome content for my real
            followers."
          </p>
        </div>
        <div class="flex items-center gap-4">
          <div class="w-[50px] h-[50px] overflow-hidden rounded-full">
            <img src="/img/testimonials/3.png" alt="author" draggable="false" class="w-full h-full" />
          </div>
          <div>
            <h3 class="text-base font-semibold">Jake Miller</h3>
            <p class="text-sm mt-px">Instagram Influencer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Testimonial End ====== -->

<!-- ====== FAQ Start ====== -->
<section id="faq">
  <div class="container">
    <div class="text-center">
      <h1 class="text-3xl font-bold sm:text-4xl md:text-[40px] md:leading-[1.2]">Frequently Asked Questions</h1>
      <p class="mt-2 text-gray-600 dark:text-gray-400">Answers to Your Questions: Explore Our FAQ Section</p>
    </div>

    <div class="mt-12 grid items-start grid-cols-1 gap-12 md:grid-cols-2 xl:px-32">
      <div class="flex items-start">
        <div
          class="w-8 h-8 flex-shrink-0 rounded-full overflow-hidden flex items-center justify-center text-white bg-gray-600 dark:bg-gray-400/50">
          <i class="bi-question-lg text-xl"></i>
        </div>
        <div class="ml-4">
          <h4 class="text-xl font-medium">What is Instagram Tracker?</h4>
          <p class="mt-4 text-gray-600 dark:text-gray-400">
            Instagram Tracker is a Chrome extension designed to help you manage your Instagram followers more
            effectively. It provides tools to identify and remove ghost followers, enhancing the authenticity of your
            follower base.
          </p>
        </div>
      </div>

      <div class="flex items-start">
        <div
          class="w-8 h-8 flex-shrink-0 rounded-full overflow-hidden flex items-center justify-center text-white bg-gray-600 dark:bg-gray-400/50">
          <i class="bi-question-lg text-xl"></i>
        </div>
        <div class="ml-4">
          <h4 class="text-xl font-medium">Is Instagram Tracker free?</h4>
          <p class="mt-4 text-gray-600 dark:text-gray-400">
            Yes, Instagram Tracker offers both free and paid plans. The free plan allows you to manage up to 500
            followers/followings. For larger follower bases, we offer affordable paid plans with higher limits are
            available.
          </p>
        </div>
      </div>

      <div class="flex items-start">
        <div
          class="w-8 h-8 flex-shrink-0 rounded-full overflow-hidden flex items-center justify-center text-white bg-gray-600 dark:bg-gray-400/50">
          <i class="bi-question-lg text-xl"></i>
        </div>
        <div class="ml-4">
          <h4 class="text-xl font-medium">How do I install Instagram Tracker?</h4>
          <p class="mt-4 text-gray-600 dark:text-gray-400">
            Go to the Chrome Web Store, search for Instagram Tracker, and click "Add to Chrome." Follow the prompts to
            install, and you're ready to manage your Instagram followers effortlessly.
          </p>
        </div>
      </div>

      <div class="flex items-start">
        <div
          class="w-8 h-8 flex-shrink-0 rounded-full overflow-hidden flex items-center justify-center text-white bg-gray-600 dark:bg-gray-400/50">
          <i class="bi-question-lg text-xl"></i>
        </div>
        <div class="ml-4">
          <h4 class="text-xl font-medium">How to cancel my subscription?</h4>
          <p class="mt-4 text-gray-600 dark:text-gray-400">
            Unfortunately, subscribers cannot cancel their subscription until the token expires at the end of the
            specific time period.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== FAQ End ====== -->

<!-- ====== CTA Start ====== -->
<section class="relative bg-blue-600 overflow-hidden py-20 lg:py-28" id="cta">
  <div class="container">
    <div class="mx-auto max-w-[570px] text-center">
      <h2 class="mb-2 text-3xl font-bold text-white md:text-[38px] md:leading-normal">
        <span>What Are You Looking For?</span>
        <span class="font-normal">Get Started Now</span>
      </h2>
      <p class="mx-auto mb-6 max-w-[515px] text-base leading-normal text-white">
        Effortlessly manage your Instagram presence. Spot and remove ghost followers with ease. Elevate your social
        media game instantly!
      </p>
      <a href="https://chromewebstore.google.com/" class="button inline-block bg-emerald-500">
        Start Using IG Tracker
      </a>
    </div>
  </div>

  <div>
    <span class="absolute left-0 top-0">
      <svg width="495" height="470" viewBox="0 0 495 470" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="55" cy="442" r="138" stroke="white" stroke-opacity="0.04" stroke-width="50" />
        <circle cx="446" r="39" stroke="white" stroke-opacity="0.04" stroke-width="20" />
        <path
          d="M245.406 137.609L233.985 94.9852L276.609 106.406L245.406 137.609Z"
          stroke="white"
          stroke-opacity="0.08"
          stroke-width="12" />
      </svg>
    </span>
    <span class="absolute bottom-0 right-0">
      <svg width="493" height="470" viewBox="0 0 493 470" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="462" cy="5" r="138" stroke="white" stroke-opacity="0.04" stroke-width="50" />
        <circle cx="49" cy="470" r="39" stroke="white" stroke-opacity="0.04" stroke-width="20" />
        <path
          d="M222.393 226.701L272.808 213.192L259.299 263.607L222.393 226.701Z"
          stroke="white"
          stroke-opacity="0.06"
          stroke-width="13" />
      </svg>
    </span>
  </div>
</section>
<!-- ====== CTA End ====== -->

<!-- ====== Footer Start ====== -->
<footer>
  <div class="container">
    <div class="text-center py-6">
      <p class="text-base text-gray-600 dark:text-gray-400">© Copyright 2024 IG-Tracker. All Rights Reserved</p>
    </div>
  </div>
</footer>
<!-- ====== Footer End ====== -->

<script src="/js/wow.min.js"></script>
<script src="/js/script.js"></script>
