<section class="m-0 p-4 h-screen bg-blue-600" id="checkout">
  <div class="container h-full">
    <div class="flex items-center justify-center w-full h-full">
      <div class="p-10 w-full max-w-xl text-center bg-white dark:bg-slate-900">
        <div class="flex items-center justify-center gap-2">
          <input type="text" class="w-full" id="output" value="<%= token.token %>" readonly />
          <button class="button px-4 group" id="copy-btn">
            <i class="bi-clipboard inline-block group-[.checked]:hidden"></i>
            <i class="bi-check-lg hidden group-[.checked]:inline-block"></i>
          </button>
        </div>
        <p class="mt-4">This token will expire on <%= new Date(token.expire).toLocaleDateString() %></p>
      </div>
    </div>
  </div>
</section>

<script>
  $("#copy-btn").click((e) => {
    e.preventDefault();

    const output = document.getElementById("output");
    output.select();
    output.setSelectionRange(0, 99999);
    navigator.clipboard.writeText(output.value);

    $("#copy-btn").addClass("checked");
    setTimeout(() => $("#copy-btn").removeClass("checked"), 2500);
  });
</script>
