@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply mb-28 lg:mb-36 px-4;
  }
  input {
    @apply outline-none px-5 py-3 dark:bg-slate-800/40 border border-black/10 dark:border-white/10
    focus:border-blue-600 dark:focus:border-blue-600 transition-all duration-200;
  }
}

@layer components {
  .button {
    @apply flex items-center justify-center gap-2 px-6 py-3 text-base font-medium text-white bg-blue-600 hover:bg-gray-600 
      rounded-sm transition duration-300 select-none;
  }
}

.is-sticky {
  @apply fixed z-[9999] py-3 bg-white/80 text-black dark:bg-slate-900/80 dark:text-white backdrop-blur-sm transition duration-300;
}
.nav-link {
  @apply text-black md:text-white dark:text-white hover:text-white/60 transition duration-300;
}
.is-sticky .nav-link {
  @apply text-black hover:text-blue-600 dark:text-white dark:hover:text-blue-600;
}

#navbar-collapse {
  @apply absolute md:static top-full right-0 origin-top-right scale-0 md:scale-100 flex-col md:flex-row gap-4 md:gap-8 bg-slate-300
  dark:bg-slate-900 md:dark:bg-transparent md:bg-transparent px-12 py-6 md:p-0 transition-transform duration-300 my-2;
}
#navbar-collapse.show {
  @apply scale-100;
}

header .button {
  @apply bg-blue-200/30 hover:bg-white hover:text-black;
}
.is-sticky .button {
  @apply bg-blue-600 hover:bg-gray-600 hover:text-white;
}

#hero .button:first-child {
  @apply text-white bg-orange-500 hover:bg-orange-200/30 hover:text-white w-52 h-14;
}
#hero .button:last-child {
  @apply text-white bg-blue-200/30 hover:bg-white hover:text-black w-44 h-14;
}
